* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

a,
a::after,
a::before,
a:visited {
	text-decoration: none;
	color: #3e4553;
}

ul li {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: row;
	margin-top: 1%;
	margin-left: 15%;
}

.marianne {
	width: 15%;
}

.logo {
	width: 20%;
	margin-left: 20%;
}

.navbar {
	margin-top: 2%;
	padding: 16px 15%;
	border-top: 1px solid #ebf2f9;
	border-bottom: 1px solid #ebf2f9;
}

.menu {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	color: #3e4553;

	cursor: pointer;
	position: relative;
}

.menu a {
	font-size: 1vw;
	padding-bottom: 0.8em;
	transition: color 0.2s ease-out, border-bottom 0.2s ease-out;
}

.menu a:hover {
	color: #034ea2;
	border-bottom: 4px solid #034ea2;
}
@media (max-width: 575.98px) {
	/*on applique les classes present dans medias sous la contrainte de la taille indiquer par max width*/

	.navbar {
		margin-top: 2%;
		padding: 0px 15%;
		border-top: 1px solid #ebf2f9;
		border-bottom: 1px solid #ebf2f9;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		color: #3e4553 !important;

		cursor: pointer;
		position: relative;
	}

	.couleur {
		color: black !important;
	}

	.active {
		color: #034ea2 !important;
		border-bottom: 1px solid #034ea2 !important;
	}

	.nostyle {
		text-decoration: none;
		border-bottom: none;
	}
}

footer {
	border-top: 4px solid #034ea2;
}

.marianne-footer {
	width: 100%;
}

.logo-footer {
	width: 100%;
}

.footer-logo-container {
	width: 20%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.footer-container {
	font-size: 1vw;
	padding: 3% 20%;
	display: flex;
	justify-content: space-between;
	line-height: 2.5;
	font-weight: 600;
	cursor: pointer;
}

.footer-container li:hover {
	text-decoration: underline;
}

.active {
	color: #034ea2 !important;
	border-bottom: 4px solid #034ea2;
}

.nostyle {
	text-decoration: none !important;
	border-bottom: none !important;
}

.deconnexion-btn {
	background-color: #034ea2;
	color: white;
	cursor: pointer;
	padding: 8px 16px;
	border: none;
	transform: translateY(-5px);
	border-radius: 5px;
	font-weight: bold;
}

.deconnexion-btn:hover {
	background-color: #159bda;
}
